language: ruby
rbenv:
- 2.5.3
addons:
  postgresql: 9.6
before_install:
  - gem install bundler
  - bundle
script:
- bundle exec rails db:{create,seed} RAILS_ENV=test
- bundle exec rspec

on:
  repo: joemecha/rails-engine
  branch: main 
  skip_cleanup: 'true'

# deploy:
#   provider: heroku
#   api_key: ENV['heroku_app_id']
#   app: joe-mecha-rails-engine
#   run: rails db:migrate
