language: ruby
rbenv:
- 2.5.3
addons:
  postgresql: 9.6
before_install:
  - gem install bundler
  - bundle
script:
- bundle exec rails db:{create,migrate,seed} RAILS_ENV=test
- bundle exec rspec

# deploy:
#   provider: heroku
#   api_key: ENV['heroku_api_key']
#   app: joe-mecha-rails-engine
#   run: rails db:migrate